name: Cleanup Stale Branches

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: false

      # TODO: add `--delete` to actually remove branches
      - name: find stale branches
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./develop/github/find_stale_branches.sh
